/* styles.css */

* {
	font-family: "Kedebideri", sans-serif;
}

body {
	background-color:rgb(207, 15, 15);
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

.backgroundImage {
	background-image: url;
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image:
	cursor: crosshair;
}

h1 {
 font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <800>;
  font-style: normal;
  font-size: 300px;
  margin: 0 auto; 
  text-align: left;
  

}
